// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  /* background-image: url("/assets/providence-rhode-island-600.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  height: 100%;
}

body {
  background-image: url("/assets/providence-rhode-island-600");
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-size: auto;
  background-: transparent;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
  height:100%;
/*   width: 100%; */
}
h1 {
  color: #8aea5e;
  margin: 3%;
}
h4 {
  color: #f39bf3;
  margin: 3%;
}
.pageOne {

  /* background-image: url("providence-rhode-island-600.jpg");
  background-size: cover; */
}
