// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.posts.index {
  background-image: url("/assets/Newport-RH.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  background-: transparent;
}

h2 {
  color: yellow;
}

tr td {
  max-height: 50px;
  max-width: 150px;
  overflow: auto;
  color: blue;
}

th {
  text-align: center;
  color: #e60d28;
}
.test {
  max-height: 50px;
}
.container-fluid {
  text-align: center;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  max-height: 800px;
  max-width: 1200px;
  overflow: auto;
  background-color: rgba(223, 240, 216, 0.5);
}
body.posts.show {
  background-image: url("/assets/bannisters.jpg");
  background-repeat: no-repeat;
  background-size: 68% 100%;
  height: 1000px;
}
.showContainer {
  color: blue;
  text-align: center;
  margin-top: 5%;
  margin-left: 70%;
  margin-right: 20%;
  padding: 5px;
  width:25%;
  background-color: rgba(223, 240, 216, 0.8);

}
.showContainer p {
  max-height: 100px;
  max-width: 150px;
  overflow: auto;
}
