// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.posts.index {
  background-image: url("/assets/images/Newport-RH.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  background-: transparent;
  /* height:100%; */
  /* width: 100%; */
}
table tr td {
  max-height: 100px;
  max-width: 150px;
  overflow: auto;
}
h2 {
  color: yellow;
}
tr td{
  color: blue;
}
th {
  color: #8a30b5;
}
body.table tr td {
  max-height: 100px;
  max-width: 150px;
  overflow: auto;
}
.postsPage > .container-fluid {
  text-align: center;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width:100%;
  background-color: rgba(223, 240, 216, 0.5);
}
body.postsPage2 {
  background-image: url("/assets/12m.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}
