body {
  /* background-image: url(/assets/images/RI_images/providence-rhode-island-600.jpg) */
  color: #0cf5e3;
  font-family: 'Della Respira', serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #f70404;

  &:visited {
    color: #f70808;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}
.actions {
  color: blue;
}
th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
   margin-left: 2%;
  &.field {
    margin-bottom: 10px;
    color: #18f32d;
  }
  &.actions {

  }
  &.field input {
   color: black;
  }
}
.field textarea {
  color: black;
}
.select options {
  color: black;
}
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: yellow;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
